{
  "root": true,
  "extends": [
    "@react-native-community",
    "prettier"
  ],
  "ignorePatterns": [
    "node_modules/",
    "dist/"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "quoteProps": "consistent",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ]
  }
}
